@font-face {
  font-family: Pretendard;
  src: url(../fonts/Pretendard-Regular.woff2) format(woff2), url(../fonts/Pretendard-Regular.woff) format(woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: PicNic;
  src: url(../fonts/PicNic.woff2) format(woff2), url(../fonts/PicNic.woff) format(woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Anthony;
  src: url(../fonts/Anthony.woff2) format(woff2), url(../fonts/Anthony.woff) format(woff);
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  position: relative;
}

html {
  font-size: 32px;
  font-family: "neue-haas-grotesk-display", "Pretendard", "Noto Sans TC", sans-serif;
  font-weight: 400;
}
@media screen and (max-width: 1179px) {
  html {
    font-size: calc(12px + 1.2vw);
  }
}
@media screen and (min-width: 980px) and (max-width: 1179px) {
  html {
    font-size: calc(12px + 1.4vw);
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: calc(12px + 0.8vw);
  }
}

:root {
  --color: #3F3B3B;
  --background: #EEF6EB;
}

html[data-weather=sunny]:root {
  --color: #232323;
  --background: #FFE928;
}
html[data-weather=sunny] .poster.background.sunny {
  display: block;
}

html[data-weather=snow]:root {
  --color: #3F3B3B;
  --background: #EEF6EB;
}
html[data-weather=snow] .poster.background.snow {
  display: block;
}

html[data-weather=rain]:root {
  --color: #000000;
  --background: #92C4FF;
}
html[data-weather=rain] .poster.forward.rain {
  display: block;
}
html[data-weather=rain] .poster.background.rain {
  display: block;
}

html[data-weather=cloudy]:root {
  --color: #FF72AD;
  --background: #000;
}
html[data-weather=cloudy] .poster.background.cloudy {
  display: block;
}
html[data-weather=cloudy] .poster.forward.cloudy {
  display: block;
}

.title, .contents {
  position: fixed;
  width: 100%;
  padding: 0 0.9375rem;
}

.title {
  top: 0.9375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 2.5625rem;
}
.title h1, .title h2 {
  font-weight: 400;
}
.title h1 {
  line-height: 1;
  color: var(--color);
}
.title h2 {
  line-height: 1em;
  color: var(--color);
  font-size: 8.3125rem;
  margin-top: -0.2em;
}

.contents {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  bottom: 0.9375rem;
  color: var(--color);
}
.contents .calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 30vw;
  max-width: 376px;
}
.contents .calendar > div {
  background-color: var(--color);
  color: var(--background);
  width: 15vw;
  height: 15vw;
  max-width: 188px;
  max-height: 188px;
  border-radius: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.75rem;
  line-height: 1em;
  letter-spacing: -0.08em;
  mix-blend-mode: lighten;
}
.contents .calendar > div span {
  position: relative;
  left: -0.04em;
}
.contents .calendar > div:nth-child(1) {
  order: 0;
}
.contents .calendar > div:nth-child(2) {
  order: 2;
}
.contents .calendar > div:nth-child(3) {
  order: 1;
}
.contents .calendar > div:nth-child(4) {
  order: 3;
}
.contents .calendar > div:nth-child(1), .contents .calendar > div:nth-child(2) {
  margin-right: -1vw;
}
.contents .calendar > div:nth-child(3), .contents .calendar > div:nth-child(4) {
  margin-left: -1vw;
}
.contents .calendar > div:nth-child(1), .contents .calendar > div:nth-child(2) {
  margin-bottom: -1vw;
}
.contents .calendar > div:nth-child(2), .contents .calendar > div:nth-child(4) {
  margin-top: -1vw;
}
.contents .calendar > div:nth-child(2) span, .contents .calendar > div:nth-child(4) span {
  left: -0.03em;
}
.contents > div:last-child {
  text-align: right;
}

.poster {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

html[data-weather=sunny] .poster.background {
  background: var(--sunny-grad, linear-gradient(90deg, #F6F6F6 0%, #FFF 2.08%, #CCC 9.38%, #ABABAB 14.58%, #6C6C6C 31.77%, #929292 47.4%, #F7F7F7 67.19%, #CECECE 85.42%, #ABABAB 94.27%, #A3A3A3 96.87%, #A3A3A3 100%, #656565 100%));
}
html[data-weather=sunny] h2 {
  line-height: 1em;
  color: var(--color);
  font-size: 10.3125rem;
  font-family: "Anthony";
  margin-top: -0.4em;
}
html[data-weather=sunny] .sun-circle {
  background: #FFE928;
  width: calc(100% - 3.375rem);
  height: calc(100% - 3.375rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 16px 16px 26px 0px rgba(0, 0, 0, 0.25) inset;
}
html[data-weather=sunny] .sunny-sun {
  position: absolute;
  width: 51.46vw;
  height: 51.46vw;
}
html[data-weather=sunny] .sunny-sun svg {
  width: 100%;
  height: 100%;
}

html[data-weather=snow] .poster.background {
  background: var(--background);
}
html[data-weather=snow] h2 {
  font-family: "Oi", serif;
  font-size: 6.66rem;
  margin-top: 0.1em;
}
html[data-weather=snow] .footprints {
  position: fixed;
  color: var(--background);
  font-family: "Noto Sans TC", sans-serif;
}
html[data-weather=snow] .footprints > div {
  position: fixed;
  font-size: 8rem;
  text-shadow: 2px 4px 6px rgba(255, 255, 255, 0.5), -4px -4px 8px rgba(214, 214, 214, 0.8);
}
html[data-weather=snow] .footprints > div:nth-child(1) {
  font-size: 6rem;
  top: 25vh;
  left: 18vw;
}
html[data-weather=snow] .footprints > div:nth-child(2) {
  font-size: 12rem;
  top: 30vh;
  left: 60vw;
}
html[data-weather=snow] .footprints > div:nth-child(3) {
  top: 65vh;
  left: 8vw;
}

html[data-weather=rain] .poster.background {
  background: #6B2BF4;
}
html[data-weather=rain] h2 {
  font-family: "PicNic";
  font-size: 10.31rem;
  margin-top: -0.23em;
}
html[data-weather=rain] .rainy-mood-holder {
  display: flex;
  width: 100%;
}
html[data-weather=rain] .rainy-mood-holder > div {
  width: 25%;
  height: 50vh;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 1.04%, #92C4FF 51.04%, rgba(217, 217, 217, 0) 100%);
}
html[data-weather=rain] .rainy-mood-holder > div:nth-child(even) {
  top: 25vh;
}
html[data-weather=rain] .rain-holder {
  position: fixed;
  width: 6.25vw;
  padding-bottom: 51.5%;
}
html[data-weather=rain] .rain-holder svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
html[data-weather=rain] .rain-holder svg path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 2.5s ease-in-out forwards infinite;
}
html[data-weather=rain] .background .raindrops .rain-holder:nth-child(1) {
  top: 30vh;
  left: 8vw;
}
html[data-weather=rain] .background .raindrops .rain-holder:nth-child(2) {
  top: 60vh;
  left: 11vw;
}
html[data-weather=rain] .background .raindrops .rain-holder:nth-child(3) {
  top: 66vh;
  left: 80vw;
}
html[data-weather=rain] .background .raindrops .rain-holder:nth-child(4) {
  top: -10vh;
  left: 90vw;
}
html[data-weather=rain] .forward .raindrops .rain-holder:nth-child(1) {
  top: -18vh;
  left: 30vw;
}
html[data-weather=rain] .forward .raindrops .rain-holder:nth-child(2) {
  top: 21vh;
  left: 70vw;
}
html[data-weather=rain] .forward .raindrops .rain-holder:nth-child(3) {
  top: 45vh;
  left: 95vw;
}

html[data-weather=cloudy] h2 {
  font-family: "Rubik Puddles", system-ui;
  font-size: 8.625rem;
  line-height: 0.8em;
}
html[data-weather=cloudy] .poster.background {
  background-color: #42617E;
}
html[data-weather=cloudy] .poster.background .clouds > div {
  position: fixed;
  width: 60vw;
  height: 30vw;
  border-radius: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%, rgba(217, 217, 217, 0) 100%);
  display: none;
  animation-name: moveClouds;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
html[data-weather=cloudy] .poster.background .clouds > div:nth-child(3n) {
  animation: 1s;
}
html[data-weather=cloudy] .poster.background .clouds > div:nth-child(1) {
  top: -8vh;
  left: -20vw;
  display: block;
}
html[data-weather=cloudy] .poster.background .clouds > div:nth-child(2) {
  top: 5vh;
  left: 5vw;
  display: block;
}
html[data-weather=cloudy] .poster.background .clouds > div:nth-child(3) {
  top: 3vh;
  left: 40vw;
  display: block;
}
html[data-weather=cloudy] .poster.background .clouds > div:nth-child(4) {
  top: -6vh;
  left: 60vw;
  display: block;
}
html[data-weather=cloudy] .poster.background .clouds > div:nth-child(5) {
  top: 40vh;
  left: -15vw;
  display: block;
}
html[data-weather=cloudy] .poster.background .clouds > div:nth-child(6) {
  top: 32vh;
  left: 30vw;
  display: block;
}
html[data-weather=cloudy] .poster.background .clouds > div:nth-child(7) {
  top: 20vh;
  left: 10vw;
  display: block;
}
html[data-weather=cloudy] .poster.background .clouds > div:nth-child(8) {
  top: 30vh;
  left: 60vw;
  display: block;
}
html[data-weather=cloudy] .poster.background .clouds > div:nth-child(9) {
  top: 40vh;
  left: 20vw;
  display: block;
}
html[data-weather=cloudy] .poster.background .clouds > div:nth-child(10) {
  top: 55vh;
  left: 35vw;
  display: block;
}
html[data-weather=cloudy] .poster.background .clouds > div:nth-child(11) {
  top: 40vh;
  left: 60vw;
  display: block;
}
html[data-weather=cloudy] .poster.background .clouds > div:nth-child(12) {
  top: 70vh;
  left: 0vw;
  display: block;
}
html[data-weather=cloudy] .poster.background .clouds > div:nth-child(13) {
  top: 80vh;
  left: -20vw;
  display: block;
}
html[data-weather=cloudy] .poster.background .clouds > div:nth-child(14) {
  top: 85vh;
  left: 30vw;
  display: block;
}
html[data-weather=cloudy] .poster.background .clouds > div:nth-child(15) {
  top: 72vh;
  left: 60vw;
  display: block;
}
html[data-weather=cloudy] .poster.background .clouds > div:nth-child(16) {
  top: 70vh;
  left: 70vw;
  display: block;
}
html[data-weather=cloudy] .poster.forward .puddle-holder > div {
  position: fixed;
  border-radius: 100%;
  border: 0.97vw solid var(--color);
  animation-name: puddle;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1;
    stroke-dasharray: 0.5;
  }
  80% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1;
  }
  100% {
    stroke-dashoffset: 0.5;
    stroke-dasharray: 1;
  }
}
@keyframes moveClouds {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(10%, 0);
  }
}
@keyframes puddle {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  30% {
    transform: translate(5%, -5%);
  }
  100% {
    transform: translate(-5%, -15%);
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */